*
!archetype
!archetype/**
!docs
!docs/**
!install.sh
!.gitignore
!README.md
!TODO.md
archetype/target/
archetype/target/**
!archetype/src/main/resources/archetype-resources/.vscode/
!archetype/src/main/resources/archetype-resources/.vscode/**
