*
!archetype
!archetype/**
!docs
!docs/**
!bin/
!bin/**
!install.sh
!.gitignore
!README.md
!TODO.md
!PROJECT.md
archetype/target/
archetype/target/**
!archetype/src/main/resources/archetype-resources/.vscode/
!archetype/src/main/resources/archetype-resources/.vscode/**
