# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Java
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.settings/
.classpath
.project

# Node/Svelte/Vite
node_modules/
dist/
.DS_Store
gui/node_modules/
gui/dist/

# Database
data/
*.db
*.db-journal
*.db-shm
*.db-wal

# Spring Boot
.springtools/
app.log
.app.pid

# Env
.env.local
