*

# include
!.mvn/
!.mvn/**
!bin/
!bin/**
!data/
!data/**
!gui/
!gui/**
!logs/
!logs/**
!src/
!src/**
!.vscode/
!.vscode/**
!.gitignore
!pom.xml
!README.md
!LICENSE
!.env.example

# exclude
gui/node_modules/
gui/node_modules/**
gui/dist/
gui/dist/**
.mvn/wrapper/maven-wrapper.jar
data/*.db
data/*.db-journal
data/*.db-shm
data/*.db-wal
logs/*.log
